<br><br>
<section class="section-1" id="collection">
    <div class="container text-center">
      <h1 style="font-size: 5em;">Our Collections</h1><br><br>
    </div>
    <div class="team row ">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/img2.jpg" style="height:350px;width:350px;" class="img-fluid border-radius p-4" alt="">
          </div>
          <div class="card-body">
            <h3 class="card-title">Ladies Fashion </h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
            <br><br>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12  mr-2">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="card mr-2 d-inline-block" style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/kids3.jpg" style="height:350px;width:400px;" class="img-fluid border-radius p-4"
                    alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Kids Fashion</h3>
                  <p class="card-text">
                    Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
                  </p>
                  <button class="btn btn-primary">Order now</button>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/mens.jpg" style="height:350px;width:350px; " class="img-fluid border-radius p-4" alt=""width="100%">
          </div>
          <div class="card-body">
            <h3 class="card-title">Mens Fashion</h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
             <br><br>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <section class="section-2" id="collection1">
     <div class="col-md-6 col-sm-12  mr-2">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="card mr-2 d-inline-block" style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/shopping.jpg" style="height:300px;width:550px;" class="img-fluid border-radius p-4"
                    alt="">
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    <div class="container text-center">
      <h1 style="font-size: 5em; padding-left: 200px;"><i>Budget Buys</i></h1>
      <h1 style="font-size: 5em; padding-left: 200px;">EASY ON THE POCKET</h1>
      <br><br>
    </div>
    <br><br><br>
    <div class="team row ">
      <div class="col-md-3 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/west.png" style="height:250px;width:250px;" class="img-fluid border-radius p-4" alt="">
          </div>
          <div class="card-body">
            <h3 class="card-title">Western </h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
            <br><br>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12  mr-2">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="card mr-2 d-inline-block" style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/west2.jpg" style="height:250px;width:350px;" class="img-fluid border-radius p-4"
                    alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Western</h3>
                  <p class="card-text">
                    Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
                  </p>
                  <button class="btn btn-primary">Order now</button>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/traditional.jpg" style="height:250px;width:250px; " class="img-fluid border-radius p-4" alt=""width="100%">
          </div>
          <div class="card-body">
            <h3 class="card-title">Western</h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
             <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12  mr-2">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="card mr-2 d-inline-block" style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/boy1.jpg" style="height:250px;width:250px;" class="img-fluid border-radius p-4"
                    alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Western</h3>
                  <p class="card-text">
                    Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
                  </p>
                  <button class="btn btn-primary">Order now</button>
                </div>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div> 
  </section>
  
  <section class="section-3" id="collection2">
    <br><br>

    <div class="container" style="padding-bottom: 5rem;">
      <div class="row" style="margin-left: 100px;">
        <div class="col-md-4  ">
          <div class="card" style="width: 15rem; height: 15rem; border-radius: 100%;border: 1px solid black;background-color: black;color: white;">

            <div class="card-body">
              
                <h6 class="card-title" style="text-align: center;"><i class="fa-solid fa-truck"style="font-size:50px"></i><br>
                  Free Shipping</h6>
                <h6 class="card-text " style="text-align: center;">ON ORDER OVER 1000RS</h6>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem; height: 15rem; border-radius: 100%;border: 1px solid black;background-color: black;color: white;">

            <div class="card-body">
              
                <h6 class="card-title" style="text-align: center;"><i class="fa-solid fa-truck"style="font-size:50px"></i><br>
                  Free Shipping</h6>
                <h6 class="card-text " style="text-align: center;">ON ORDER OVER 1000RS</h6>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 15rem; height: 15rem; border-radius: 100%;border: 1px solid black;background-color: black;color: white;">

            <div class="card-body">
              
                <h6 class="card-title" style="text-align: center;"><i class="fa-solid fa-truck"style="font-size:50px"></i><br>
                  Free Shipping</h6>
                <h6 class="card-text " style="text-align: center;">ON ORDER OVER 1000RS</h6>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
 