
<footer>

  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-4">
        <h1>Follow us on</h1>
        <p>To get latest updates from Hungry head follow us on social media and stay connected</p>
        <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-twitter-square"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
      <div class="col-md-3">
        <h1>About us</h1>
        <p>History</p>
        <p>Our Team</p>
        <p>Brand Guidlines</p>
        <p>Terms and Condition</p>
        <p>Privacy policy</p>
      </div>
      <div class="col-md-3">
        <h1>Services</h1>
        <p>How to order</p>
        <p>Our Products</p>
        <p>Order status</p>
        <p>Promo</p>
        <p>Payment method</p>
      </div>
      <div class="col-md-2">
        <h1>Others</h1>
        <p>Contact</p>
        <p>Help</p>
        <p>Privacy</p>
      </div>
    </div>
  </div>

</footer>