<section class="section-1" id="collection">
    <div class="container text-center">
      <h1 style="font-size: 5em;">Our Collections</h1><br><br>
    </div>
    <div class="team row ">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/img2.jpg" style="height:350px;width:350px;" class="img-fluid border-radius p-4" alt="">
          </div>
          <div class="card-body">
            <h3 class="card-title">Ladies Fashion </h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
            <br><br>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12  mr-2">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <div class="card mr-2 d-inline-block" style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/kids3.jpg" style="height:350px;width:400px;" class="img-fluid border-radius p-4"
                    alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Kids Fashion</h3>
                  <p class="card-text">
                    Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
                  </p>
                  <button class="btn btn-primary">Order now</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card  d-inline-block mr-2 " style="background-color: transparent; border: none;">
                <div class="card-img-top">
                  <img src="assets/dish2.jpg" style="border-radius: 200px; " class="img-fluid border-radius p-4"
                    alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <div class="card mr-2 d-inline-block " style="background-color: transparent; border: none;">
          <div class="card-img-top">
            <img src="assets/mens.jpg" style="height:350px;width:350px; " class="img-fluid border-radius p-4" alt=""width="100%">
          </div>
          <div class="card-body">
            <h3 class="card-title">Mens Fashion</h3>
            <p class="card-text">
                Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
            </p>
            <button class="btn btn-primary">Order now</button>
             <br><br>
          </div>
        </div>
      </div>
    </div>

  </section>