<br><br><br>
<section class="sec5">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/kid2.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>apron</strong></h1>
                    <h2 class="card-text">INR:350Rs</h2>
                  <a href="https://buy.stripe.com/test_aEU02E89qcGq2uQ8wG" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/k1.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                  <h1 class="card-title"><strong>Skirts</strong></h1>
                  <h2 class="card-text">INR:500Rs</h2>
                  <a href="https://buy.stripe.com/test_6oEeXyblC5dY9XibIT" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/k2.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>Denim</strong></h1>
                    <h2 class="card-text">INR:550Rs</h2>
                  <a href="https://buy.stripe.com/test_4gwdTu9dufSC7Pa4gp" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
    </div>
</div>
</section>
<br><br><br>
<section class="sec6">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; ">
                    <img src="..//../assets/kid6.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Mittens</strong></h1>
                        <h2 class="card-text">INR:450Rs</h2>
                      <a href="https://buy.stripe.com/test_6oE7v6dtK7m61qM4go"target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/kid1.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Beanie</strong></h1>
                        <h2 class="card-text">INR:150Rs</h2>
                      <a href="https://buy.stripe.com/test_bIY02E89qeOyc5q6ov" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/k3.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                      <h1 class="card-title"><strong>Bubble</strong></h1>
                      <h2 class="card-text">INR:200Rs</h2>
                      <a href="https://buy.stripe.com/test_cN2aHiahy35Qb1mfZ4" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
