<br><br><br>

<div class="col-md-6 loginimg1">
  <div>
      <img src="assets/reg2.jpg" style="height:450px;width:550px;padding-top: 100px;" class="img-fluid border-radius p-4" alt="">
    </div> 
</div>
<div class="fullcard1">
  <div class="card-body">
    <h2 class="card-title it">Login</h2>
    <br />
    <div class="col-md-6">
    <form [formGroup]="myForm" novalidate>
      <div class="form-group ir">
        <label>User Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="userName"
          [ngClass]="{
            'is-invalid':
              userName.errors && (userName.touched || userName.dirty),
            'is-valid': userName.valid
          }"
        />
        <div class="invalid-feedback">
          <!--*ngIf Directive-->
          <strong
            *ngIf="userName.errors?.required"
            style="color: red; font-size: x-small"
            >User Name is required</strong
          >
          <strong *ngIf="userName.errors?.minlength"
            >User Name length must be greater than
            {{ userName.errors?.minlength.requiredLength }} character.
            {{
              userName.errors?.minlength.requiredLength -
                userName.errors?.minlength.actualLength
            }}
            more character required.
          </strong>
        </div>
      </div>
      <div class="form-group ir">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              password.errors && (password.touched || password.dirty)
          }"
        />
        <div class="invalid-feedback">
          <strong
            *ngIf="password.errors?.pattern"
            style="color: red; font-size: small"
          >
            Pass pattern is required</strong
          >
          <strong
            *ngIf="password.errors?.required"
            style="color: red; font-size: x-small"
          >
            Pass is required</strong
          >
        </div>
      </div>
      <br /><br />
      <button type="submit" class="btn btn-primary ir">
        <a routerLink="/home" style="color: white"
          ><span>Login</span></a
        >
      </button>
    </form>
  </div>
</div>
</div>