<br><br><br><br><br><br>
<div>
  <h1 style="text-align:center">Adding Customer</h1>
  <br><br>
    <div class="submit-form" style="border:1px solid black;width:400px;padding-left:50px;padding-right:50px;background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title"style="font-size:20px;"><strong>Name</strong></label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="customer.title"
            name="title"
          />
        </div>
        <br>
        <div class="form-group">
          <label for="description"style="font-size:20px;"><strong>Review</strong></label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="customer.description"
            name="description"
          />
        </div>
        <br>
        <button (click)="saveCustomer()" class="btn btn-success">Submit</button>
      </div>
      <br><br>
      <div *ngIf="submitted">
        <h4>Customer was Added successfully!</h4>
        <button class="btn btn-success" (click)="newCustomer()">Add</button>
      </div>
    </div>
  </div>
