<br><br><br>
<section class="sec1">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/lad1.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>Anarkali</strong></h1>
                    <h2 class="card-text">INR:350Rs</h2>
                  <a href="https://buy.stripe.com/test_4gw02E75mayi4CYaEE" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/lady1.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                  <h1 class="card-title"><strong>Kurtha's</strong></h1>
                  <h2 class="card-text">INR:500Rs</h2>
                  <a href="https://buy.stripe.com/test_eVa8za61i5dY8Te145" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/lady2.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>Lehanga</strong></h1>
                    <h2 class="card-text">INR:550Rs</h2>
                  <a href="https://buy.stripe.com/test_8wM6r24XecGq0mI8wy" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
    </div>
</div>
</section>
<br><br><br>
<section class="sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; ">
                    <img src="..//../assets/lady3.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Chudidar</strong></h1>
                        <h2 class="card-text">INR:450Rs</h2>
                      <a href="https://buy.stripe.com/test_5kAeXy4Xe6i2fhCaEH" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/lady4.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Babydoll</strong></h1>
                        <h2 class="card-text">INR:150Rs</h2>
                      <a href="https://buy.stripe.com/test_cN22aMexO5dYfhC3cg" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/lady13.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                      <h1 class="card-title"><strong>Bubble</strong></h1>
                      <h2 class="card-text">INR:200Rs</h2>
                      <a href="https://buy.stripe.com/test_aEU16I3Ta7m67PaeUZ" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>