h2{
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 30px;
}
.card-title{
    text-align: center;
}

.loginimg
{
    position: relative;
    right: 0vmin;
    mix-blend-mode:difference;
  
}

.ip
{
    position: relative;
    right: 100px;
    width: 300px;
    left: 30px;
    bottom: 330px;
    
}

.ipt
{
    position: relative;
    right: 100px;
    text-decoration: none;
    bottom: 320px;
    left: 0px;
}

.fullcard
{
    position: relative;
    left: 300px;
    background-color: rgb(198, 239, 252);
    height: 500px;
    width: 400px;
    left: 800px;
    right:300px
   
}