<br><br><br><br>
<section class="sec3">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/men1.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>Blazer</strong></h1>
                    <h2 class="card-text">INR:350Rs</h2>
                  <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/men2.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                  <h1 class="card-title"><strong>Suit</strong></h1>
                  <h2 class="card-text">INR:500Rs</h2>
                  <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..//../assets/men3.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                <div class="card-body"style="text-align: center;">
                    <h1 class="card-title"><strong>Hawaiin</strong></h1>
                    <h2 class="card-text">INR:550Rs</h2>
                  <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
    </div>
</div>
</section>
<br><br><br>
<section class="sec4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; ">
                    <img src="..//../assets/men4.jpg" class="card-img-top" width="250px" height="250px"     alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Jumper</strong></h1>
                        <h2 class="card-text">INR:450Rs</h2>
                      <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/men5.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                        <h1 class="card-title"><strong>Sneakers</strong></h1>
                        <h2 class="card-text">INR:150Rs</h2>
                      <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..//../assets/men6.jpg" class="card-img-top"width="250px" height="250px"  alt="...">
                    <div class="card-body"style="text-align: center;">
                      <h1 class="card-title"><strong>Bubble</strong></h1>
                      <h2 class="card-text">INR:200Rs</h2>
                      <a href="https://buy.stripe.com/test_bIY8za89q49U7Pa9AM" target="_blank" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>