<body bgcolor="#E6E6FA">
    <h2>Registration Form</h2>
     
    <label  id="un">Username :</label>
    <input type="text" name="uname" required><br/>
     
    <label  id="pwd">Password :</label>
    <input type="password" name="pass" required><br/>
     
    <label  id="em">Email :</label>
    <input type="text" name="email" required ><br/>
     
    <label  id="mn">Mobile No :</label>
    <input type="text" name="mno" required><br/>
     
    <button type="submit" onclick="save()">Register</button>
    
     
    <script>
    function save(){
    var user = document.getElementById("user").value;
    var pwd = document.getElementById("pwd").value;
    alert("username"+user+"password"+pwd);
    }
    </script>
     
    
